<main class="w-10/12 mx-auto space-y-3 py-6">
    <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <a routerLink="/"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    Inicio
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <a [routerLink]="['/products/category', product()?.category?.id]"
                        class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">{{
                        product()?.category?.name }}</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{ product()?.name
                        }}</span>
                </div>
            </li>
        </ol>
    </nav>

    <div class="bg-white p-4 border border-gray-200 rounded-md">
        <div class="flex flex-col md:flex-row gap-4">
            <!-- first column -->
            <div class="p-6">
                <img [src]="imageSelected()" [alt]="product()?.name" class="w-[700px]">

                <div class="flex gap-4 mt-4">
                    @for (image of product()?.images; track $index) {
                        <img [src]="image.imageUrl" [alt]="product()?.name"
                            [class.border-cyan-700]="imageSelected() === image.imageUrl"
                            [class.border]="imageSelected() === image.imageUrl"
                            class="w-[70px] h-[70px] object-cover rounded-md cursor-pointer hover:scale-105 transition-transform duration-300"
                            (click)="changeImage(image.imageUrl)">
                    }
                </div>
            </div>
            <!-- second column -->
            <div class="p-2 flex flex-col md:flex-row justify-between gap-4 w-full">

                <div class="w-8/12">
                    <h1 class="xl:text-[27px] font-medium">{{product()?.name}}</h1>
                    <div class="flex items-center">
                        <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">4.95</p>
                        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">de</p>
                        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">5</p>
                    </div>

                    <!-- <p class="font-light text-gray-500">+20 vendidos el mes pasado</p> -->

                    <h2 class="xl:text-4xl text-gray-700 mt-2">{{product()?.price | currency:'PEN':'symbol':'1.2-2'}}</h2>

                    <div class="mt-4">
                        <span>Vendido por: <a class="underline text-blue-800">MiTiendita</a></span>
                    </div>
                </div>

                <div class="border border-gray-200 rounded-lg p-4 space-y-3">

                    @if ((product()?.stock ?? 0) > 0) {
                    <div class="flex items-center">
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 me-2 text-sm text-gray-800 bg-green-200 rounded-full">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                            </svg>
                        </span>
                        <h1 class="font-bold text-lg text-green-500">Disponible</h1>
                    </div>
                    }@else {
                        <div class="flex items-center">
                            <span
                                class="inline-flex items-center justify-center w-6 h-6 me-2 text-sm text-gray-800 bg-red-200 rounded-full">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                                </svg>
                            </span>
                            <h1 class="font-bold text-lg text-red-500">No Disponible</h1>
                        </div>
                    }


                    <form class="">
                        <label for="quantity-input"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad:</label>
                        <div class="flex gap-4 items-center">
                            <div class="relative flex items-center max-w-[8rem]">
                                <button type="button" (click)="decrementQuantity()" [disabled]="(product()?.stock ?? 0) <= 0"
                                    class="bg-gray-100  hover:bg-gray-200 border border-gray-300 rounded-s-lg p-2 h-8 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none disabled:opacity-50 disabled:hover:cursor-default">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>

                                <input type="text" disabled min="1" 
                                    class="bg-gray-50 border-x-0 border-gray-300 h-8 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 "
                                    value="{{quantity}}" required />

                                <button type="button" (click)="incrementQuantity()"
                                        [disabled]="(product()?.stock ?? 0) <= 0"
                                        class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-2 h-8 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none disabled:opacity-50 disabled:hover:cursor-default">
                                        <svg class="w-3 h-3 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 18 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M9 1v16M1 9h16" />
                                        </svg>
                                    </button>


                            </div>
                            <h1 class="text-gray-500">Disponible <span>({{product()?.stock}})</span> </h1>
                        </div>
                        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Disponible
                            máximo 10 por cliente.</p>
                    </form>

                    <div class="space-y-2">
                        <!-- <button [disabled]="(product()?.stock ?? 0) <= 0"
                            class="bg-cyan-700 py-2 px-6 w-full rounded-lg text-white text-center text-lg disabled:opacity-50 cursor-pointer disabled:cursor-default">Comprar
                            ahora</button> -->
                        <button (click)="addToCart()" [disabled]="(product()?.stock ?? 0) <= 0"
                            class="border bg-cyan-700 py-3 px-6 w-full rounded-lg text-white hover:bg-white hover:border-cyan-700 hover:text-cyan-700 transition duration-300 text-center text-xl disabled:opacity-50 cursor-pointer disabled:cursor-default">Agregar
                            al carrito</button>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white p-6 border border-gray-200 rounded-md">
        <h1 class="text-3xl font-bold mb-4">Información</h1>
        <div class="text-gray-500 text-xl" [innerHTML]="product()?.description"></div>
    </div>

    <app-carousel-products title="Recomendados" [products]="recommendedProducts()" [slideConfig]="slideConfigRecom" />
</main>